---
layout: default
---

<div class='row mt-4'>
    <div class="col-md-9 col-sm-12">
      <!-- main content area -->
      <h1
          class='title display-4 js-toc-ignore'
      >{{ page.title }}</h1>

      {% if page.description %}
      <p class='lead'>{{ page.description }}</p>
      {% endif %}


      <div class='content js-toc-content pt-3'>
        {{ content }}
      </div>
    </div>
    <div class="col-3 d-none d-md-block d-print-none">
      {% if page.include_toc %}
        <nav id="toc" data-toggle="toc" class='toc js-toc pt-3'></nav>
      {% endif %}
    </div>
</div>

{% include open-links-new-tab.html %}
