---
layout: default
---

<div class='row'>
    {% if page.include_toc %}
    <div class="col-sm-2">
        <nav id="toc" class='sticky-top' data-spy="affix" data-toggle="toc"></nav>
    </div>
    <div class="col-sm-9">
    {% else %}
    <div class="col-sm-9">
    {% endif %}
    <!-- main content area -->
    <h1
        data-toc-skip
        class='title'
    >{{ page.title }}</h1>

    <div class='content'>
      {{ content }}
    </div>

  </div>

{% include nav-pills.html %}
{% include open-links-new-tab.html %}
